<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ form.title }}</title>
</head>
<body>
{% if message %}
	<p>{{ message }}</p>
{% endif %}
<form action="{{ request.path }}" method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <input type="submit" value="{% if form.title == 'Create' %} Next
    {% else %} {{ form.title }} {% endif %}">
</form>
</body>
</html>